@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFA494;
}

header {
    display: block;
    background-color: white;
    width: 65vw;
    max-width: 400px;
    min-height: 150px;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 10px 20px;
    background-color: #E5CFCC;
    color: #1A100E;
}

header > p {
    padding: 10px 10px 10px 20px;
    text-align: left;
}

#aviso {
    font-weight: bold;
    font-size: 0.8em;
}

section > div {
    display: block;
    background-color: #ebebeb;
    text-align: center;
    width: 65vw;
    max-width: 400px;
    min-height: 150px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
    background-color: #E5CFCC;
    color: #1A100E;
}

#numeros {
    padding: 6px;
    margin: 10px 0px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
    background-color: #D5A59F;
    color: #1A100E;
}

#botaoAdicionar, #botaoQuicksort, #botaoRefazer {
    padding: 4px;
    border-radius: 6px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
    background-color: #80605C;
    color: #1A100E;
    font-weight: bold;
    transition: background ease-in-out 0.4s;
}

#botaoAdicionar:hover, #botaoQuicksort:hover, #botaoRefazer:hover {
    background-color: #D5A59F;
    cursor: pointer;
}

#botaoQuicksort, #botaoRefazer {
    display: block;
    margin: 10px auto;
}

#resultado, #resultadoQuicksort {
    padding: 15px;
    word-wrap: break-word;
}

footer {
    background-color: #E5CFCC;
    color: #1A100E;
    padding: 12px;
    text-align: center;
    margin: 10px auto;
    max-width: 400px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
}